/*! Licenses of used libraries, fonts and other software can be found at /lib-licenses.txt */
.sAsdp8{align-items:center;display:flex;height:100%;justify-content:center;width:100%}.sjSd-o{--size: var(--sizeOverride, 7rem);height:100%;width:var(--size)}
